/* CSS Document */
@media (max-width: 1024px) {
  /* left-sidebar toggler
      ---------------------------------------------------------------------------------------------- */
  .left-sidebar {
    height: auto;
    min-height: auto;
    position: absolute;
    left: -280px;
  }
  .content {
    margin-left: 0 !important;
    padding: 10px;
  }
  .left-sidebar,
  .content {
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    -ms-transition: 500ms ease;
    transition: 500ms ease;
  }
  h3.panel-title {
    font-size: 12px;
    font-weight: 200;
  }
  .left-sidebar.show-fullsidebar {
    height: auto;
    width: 100% !important;
    z-index: 999;
    min-height: auto;
    position: absolute;
    left: 0px;
  }
  .nav-input-search {
    width: 120px;
  }
  .btn-nav-toggle {
    display: none;
  }
  .navbar .btn-nav-toggle-responsive {
     background: #b8e5ff none repeat scroll 0 0;
    color: #00205f;
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
    padding: 10px;
  }
}
@media (min-width: 1025px) {
  .navbar .btn-nav-toggle-responsive {
    display: none;
  }
}
@media (max-width: 990px) {
.pad_tpmat10{margin-top:10px;}
.content_height164 {
    min-height: auto;
}
.content_height229 {
    min-height: auto;
}
}

@media (max-width: 767px) {
body{font-size:12px;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:20px;}
h5{font-size:12px; line-height: 20px;}
.h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: 5px;
}
p{font-size:12px;}
.mobile_pdlt0{padding-left:0px;}
.mobile_pdrt0{padding-right:0px;}
.mobile_martp10{margin-top:10px;}
.mobile_marrt10{margin-right:10px;}
.mobile_txtlt{text-align:left;}
.mbl_txtcenter{text-align:center;}
input.css-checkbox[type="radio"] + label.css-label {font-size:12px;}
.btn-primary, .btn-default{
	height: 40px;
    padding: 0 10px;
	}
.mbl_marbtm20{margin-bottom:20px;}
.collapse {
    display: block;
}
.wizard {
 width: 100%;
 height: auto !important;
}
 span.round-tab {
 font-size: 16px;
 width: 70px;
 height: 70px;
 line-height: 66px;
}
 .wizard .nav-tabs > li a {
 width: 70px;
 height: 70px;
 line-height: 70px;
}
 .wizard li.active:after {
 content: " ";
 position: absolute;
 left: 35%;
}
.custom_check [type="checkbox"]:not(:checked) + label.check_position:before, .custom_check [type="checkbox"]:checked + label.check_position:before {
    left: 0px;
}
.custom_check [type="checkbox"]:not(:checked) + label.check_position:after, .custom_check [type="checkbox"]:checked + label.check_position:after {
    left: 1px;
}
.custom_check [type="checkbox"]:not(:checked) + label.check_position1:before, .custom_check [type="checkbox"]:checked + label.check_position1:before {
    left: 0px;
}
.custom_check [type="checkbox"]:not(:checked) + label.check_position1:after, .custom_check [type="checkbox"]:checked + label.check_position1:after {
    left: 1px;
}
.check_pos {
    margin-left: 6px;
}
.accunt_ifotxt label {
    font-size: 13px;
}
.pay_balanceht {
    min-height: auto;
}
.filter_date h5 {
    line-height: 15px;
}
}

@media (max-width: 480px) {
.mobile_pad150{padding-bottom:150px;}
.logo_mobile{width:200px;}
.mobile_hide{display:none;}
.nav > li > a.padd_tpbt18 {
    padding: 20px 5px;
}
.navbar-brand {
    padding: 10px;
}
.user_img {
    width: 35px;
}
.box-holder {
    margin-top: 90px;
}
.navbar-right .dropdown-menu {
    left: -90px;
}
.navbar .heder_nav > li ul.dropdown-menu > li:first-child:before, .navbar .heder_nav > li ul.dropdown-menu > li:first-child:after {
    left: 70%;
}
.navbar .heder_nav > li ul.dropdown-menu{width:160px;}
.dropdown-menu>li>a {font-size:12px; padding: 3px 10px;}
.box-holder {
    padding-bottom: 140px;
}
.login_bg {
    padding: 10px;
}
.agreement_bg {padding: 15px;}

}
@media (max-width: 450px) {
.login {
    padding: 10px;
    width: 305px;
}	
.login h2{font-size:24px;}
.input {
    margin-top: 10px;
}
.input input{height:40px; font-size: 13px;}
.input span{padding: 10px 15px;}
.input span.user_pad{padding: 10px 17px;}
.input span.key_pad{padding: 10px 16px 10px 15px;}
td, th{
    padding: 5px;
    font-size: 12px;
}
.box-holder {
    padding-bottom: 170px;
}
.navbar-brand img {
    width: 155px;
}
.left-sidebar {top: 78px;}

}
@media (max-width: 360px) {
.modal-dialog.min-popup {
    width: 303px;
    margin: 20px 5px;
}
.box-holder {
    padding-bottom: 170px;
}
}